 <div class="main-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-top">
            <div class="mail-b"><a href="gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> demo@gmail.com</a></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="wel-nots">
            <p>{{bienvenida}}</p>
          </div>
          <div class="right-top">
            <ul>
              <li><a href="www.facebook.com"><i class="fab fa-facebook"></i></a></li>
              <li><a href="www.twitter.com"><i class="fab fa-twitter-square"></i></i></a></li>
              <li><a href="www.instagram.com"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  

 