<div class="col-lg-12 col-xs-12 " id="contactIcons">
    <div class="left-contact">
        <h2>Como contactarnos</h2>
        <div class="media cont-line">
            <div class="media-left icon-b">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div>
            <div class="media-body dit-right">
                <h4>Dirección</h4>
                <p>{{direccion}}</p>
            </div>
        </div>
        <div class="media cont-line">
            <div class="media-left icon-b">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="media-body dit-right">
                <h4>E-mail</h4>
                <a href="#">demoinfo@gmail.com</a>
            </div>
        </div>
        <div class="media cont-line">
            <div class="media-left icon-b">
                <i class="fas fa-phone-volume"></i>
            </div>
            <div class="media-body dit-right">
                <h4>Número de teléfono</h4>
                <a href="#">12345 67890</a><br>
                <a href="#">12345 67890</a>
            </div>
        </div>
    </div>
</div>